@charset "UTF-8";
/* RedButton */
/* GreenButton */
body .ui-widget:not(.pi) {
  font-size: 12px;
  font-family: Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
}
body .ui-widget .ui-widget:not(.pi) {
  font-size: 12px;
  font-family: Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
}
body .ui-inputfield {
  padding: 0.729em;
  font-size: 12px;
}
body .ui-button {
  padding: 3.6px;
}
body .ui-button.ui-state-focus {
  outline: none;
}
body .ui-button.ui-state-default.red-button {
  background-color: #b8312e;
  border-color: #9c1627;
}
body .ui-button.ui-state-default.red-button.ui-state-hover {
  background-color: #d2524f;
}
body .ui-button.ui-state-default.red-button.ui-state-active {
  background-color: #9c1627;
}
body .ui-button.ui-state-default.green-button {
  background-color: #1f9e53;
  border-color: #107533;
}
body .ui-button.ui-state-default.green-button.ui-state-hover {
  background-color: #2eb971;
}
body .ui-button.ui-state-default.green-button.ui-state-active {
  background-color: #178544;
}
body .ui-datepicker .ui-datepicker-calendar {
  font-size: 12px;
}
body .ui-autocomplete-item {
  height: 35px;
}
body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item {
  height: 35px;
  padding: 0.829em 0.857em;
}
body .ui-trigger-calendar .ui-datepicker-trigger.ui-button {
  top: -10px;
}
body .ui-dialog .ui-dialog-titlebar {
  padding: 0.9em 1em;
}
body .ui-dialog .ui-dialog-title {
  font-size: 16px;
}
body .ui-panel .ui-panel-titlebar {
  padding: 0.9em 1em;
}
body .ui-panel .ui-panel-title {
  font-size: 16px;
}
body .ui-fileupload .ui-fileupload-buttonbar {
  padding: 1px;
}

.badge {
  padding: 5px;
  text-align: center;
  line-height: 22px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
}

.badge-green {
  background-color: #2EA563;
}

.badge-yellow {
  background-color: #c99f15;
}

.badge-blue {
  background-color: #2196F3;
}

.badge-red {
  background-color: #c9302c;
}

.badge-pink {
  background-color: #ef6262;
}

.floatNone {
  float: none;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

.textBold {
  font-weight: bold;
}

/* Font Sizes */
.fontSize9 {
  font-size: 9px !important;
}

.fontSize10 {
  font-size: 10px !important;
}

.fontSize11 {
  font-size: 11px !important;
}

.fontSize12 {
  font-size: 12px !important;
}

.fontSize13 {
  font-size: 13px !important;
}

.fontSize14 {
  font-size: 14px !important;
}

.fontSize15 {
  font-size: 15px !important;
}

.fontSize16 {
  font-size: 16px !important;
}

.fontSize17 {
  font-size: 17px !important;
}

.fontSize18 {
  font-size: 18px !important;
}

.fontSize19 {
  font-size: 19px !important;
}

.fontSize20 {
  font-size: 20px !important;
}

.fontSize21 {
  font-size: 21px !important;
}

.fontSize22 {
  font-size: 22px !important;
}

.fontSize23 {
  font-size: 23px !important;
}

.fontSize24 {
  font-size: 24px !important;
}

.fontSize25 {
  font-size: 25px !important;
}

.fontSize26 {
  font-size: 26px !important;
}

.fontSize27 {
  font-size: 27px !important;
}

.fontSize28 {
  font-size: 28px !important;
}

.fontSize29 {
  font-size: 29px !important;
}

.fontSize30 {
  font-size: 30px !important;
}

.fontSize40 {
  font-size: 40px !important;
}

.fontSize50 {
  font-size: 50px !important;
}

.fontSize60 {
  font-size: 60px !important;
}

.fontSize100 {
  font-size: 100px !important;
}

.fontSize130 {
  font-size: 130px !important;
}

body .ui-datatable {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #D1D3D4;
  background-color: #FBFCFD;
  color: #737373;
}
body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-footer {
  background: none;
  border: none;
  text-align: left;
}
body .ui-datatable .ui-datatable-tablewrapper {
  padding: 4px;
}
body .ui-datatable .ui-datatable-tablewrapper thead tr th {
  color: #737373;
  border: solid 1px #C1D5DF;
  background-color: #DAE8EF;
  height: 28px;
}
body .ui-datatable .ui-datatable-tablewrapper thead tr th .ui-column-title {
  font-weight: bold;
}
body .ui-datatable .ui-datatable-tablewrapper thead tr th.ui-state-active {
  color: #FFF;
  border: 1px solid #C8C8C8;
  background-color: #007AD9;
}
body .ui-datatable .ui-datatable-tablewrapper tfoot tr td {
  color: #737373;
  border: solid 1px #C1D5DF;
  background-color: #DAE8EF;
  height: 28px;
}
body .ui-datatable .ui-datatable-tablewrapper tbody tr td {
  color: #737373;
  border: solid 1px #E5EBF0;
  height: 38px;
}
body .ui-datatable .ui-datatable-tablewrapper .ui-datatable-data > tr.ui-datatable-even {
  background-color: #FBFCFD;
}
body .ui-datatable .ui-datatable-tablewrapper .ui-datatable-data > tr.ui-datatable-odd {
  background-color: #F3F6F9;
}
body .ui-datatable .ui-datatable-tablewrapper .ui-datatable-data > tr.ui-state-highlight {
  color: #FFF;
  border: 1px solid #C8C8C8;
  background-color: #007AD9;
}
body .ui-datatable .ui-datatable-tablewrapper .ui-datatable-data > tr.ui-state-highlight td {
  color: #FFF;
}
body .ui-datatable .ui-datatable-tablewrapper .ui-datatable-data > tr.ui-state-hover {
  border: 1px solid #c8c8c8;
  background-color: #7daed6;
}
body .ui-datatable .ui-datatable-tablewrapper .ui-datatable-data > tr.ui-state-hover td {
  color: #FFF;
}
body .ui-datatable .ui-datatable-tablewrapper .ui-datatable-data > tr.ui-state-error {
  color: #FFF;
  border: 1px solid #C8C8C8;
  background-color: #007AD9;
}
body .ui-datatable .ui-datatable-tablewrapper .ui-datatable-data > tr.ui-state-error td {
  color: #FFF;
}
body .ui-datatable .ui-paginator {
  background-color: #F3F5F7;
  border: none;
}
body .ui-datatable .ui-paginator.ui-paginator-bottom {
  border-top: solid 1px #E8EDF2;
  border-bottom: solid 1px #E8EDF2;
}
body .ui-datatable .ui-paginator .ui-paginator-prev {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
body .ui-datatable .ui-paginator .ui-paginator-prev:before {
  content: "";
}

.ui-panelgrid {
  border: 1px solid #c8c8c8;
}
.ui-panelgrid.ui-panelgrid-blank {
  border: 0 none;
  background: none;
}

body .ui-growl .ui-growl-item-container.ui-growl-item-container.ui-growl-info {
  background-color: #1578c9;
  color: #FFF;
}
body .ui-growl .ui-growl-item-container.ui-growl-item-container.ui-growl-info .ui-growl-image {
  color: #FFF;
}
body .ui-growl .ui-growl-item-container.ui-growl-item-container.ui-growl-info .ui-icon {
  color: #FFF;
}
body .ui-growl .ui-growl-item-container.ui-growl-error {
  background-color: #EF5350;
  color: #FFF;
}
body .ui-growl .ui-growl-item-container.ui-growl-error .ui-growl-image {
  color: #FFF;
}
body .ui-growl .ui-growl-item-container.ui-growl-error .ui-icon {
  color: #FFF;
}
body .ui-growl .ui-growl-item-container.ui-growl-warn {
  background-color: #ffc107;
  color: #FFF;
}
body .ui-growl .ui-growl-item-container.ui-growl-warn .ui-growl-image {
  color: #FFF;
}
body .ui-growl .ui-growl-item-container.ui-growl-warn .ui-icon {
  color: #FFF;
}
body .ui-growl .ui-growl-item-container.ui-growl-fatal {
  background-color: #ef6262;
  color: #FFF;
}
body .ui-growl .ui-growl-item-container.ui-growl-fatal .ui-growl-image {
  color: #FFF;
}
body .ui-growl .ui-growl-item-container.ui-growl-fatal .ui-icon {
  color: #FFF;
}

/*# sourceMappingURL=nova-colored-plus.css.map */
