/* Exception */
.exception-body {
  height: 100%;
  font-family: "latoregular", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  background-image: url("#{resource['skin:images/background.jpg']}");
}

.exception-wrapper {
  margin: 0 auto;
  width: 500px;
  height: 100%;
  background-color: #e82424;
  opacity: 0.7;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #ffffff;
  box-sizing: border-box;
}
.exception-wrapper.error {
  background-color: #e82424;
}
.exception-wrapper.error a:hover, .exception-wrapper.error a.ui-link:hover, .exception-wrapper.error a.ui-commandlink:hover {
  background-color: #ffffff;
  color: #e82424;
}
.exception-wrapper.notfound {
  background-color: #66719c;
}
.exception-wrapper.notfound a:hover, .exception-wrapper.notfound a.ui-link:hover, .exception-wrapper.notfound a.ui-commandlink:hover {
  background-color: #ffffff;
  color: #66719c;
}
.exception-wrapper.access {
  background-color: #e88524;
}
.exception-wrapper.access a:hover, .exception-wrapper.access a.ui-link:hover, .exception-wrapper.access a.ui-commandlink:hover {
  background-color: #ffffff;
  color: #e88524;
}
.exception-wrapper .message-title {
  font-size: 24px;
  font-weight: bold;
}
.exception-wrapper a, .exception-wrapper a.ui-link, .exception-wrapper a.ui-commandlink {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin: 120px 0 100px 0;
  padding: 10px;
  font-size: 16px;
  -moz-transition: color 0.15s;
  -o-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}
.exception-wrapper .footer {
  color: #ffffff;
  font-size: 12px;
  margin-top: 50px;
}

@media (max-width: 40em) {
  .exception-wrapper {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

.main-body {
  font-family: "Montserrat Regular";
  font-size: 12px;
  background-color: #edf0f5;
}
.main-body .wrapper {
  /*TOP BAR*/
}
.main-body .wrapper .topbar {
  font-family: "Roboto Condensed Light";
  background-color: #003f72;
  border-bottom: 3px solid #eaab00;
  width: 100%;
  transition: all 1s ease;
}
@media screen and (max-width: 920px) {
  .main-body .wrapper .topbar {
    border-bottom: none;
  }
}
.main-body .wrapper .topbar .topbar-content {
  width: 90%;
  margin: 0 auto;
  max-width: 1600px;
}
.main-body .wrapper .topbar .topbar-content.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
}
.main-body .wrapper .topbar .topbar-content .logo {
  width: 10%;
}
.main-body .wrapper .topbar .topbar-content .logo img {
  width: 80%;
  height: auto;
}
@media screen and (max-width: 920px) {
  .main-body .wrapper .topbar .topbar-content .logo {
    display: none;
  }
}
.main-body .wrapper .topbar .topbar-content .menu {
  width: 87%;
}
@media screen and (max-width: 920px) {
  .main-body .wrapper .topbar .topbar-content .menu {
    width: 100%;
  }
}
.main-body .wrapper .topbar .topbar-content .menu .button-menu {
  display: none;
}
.main-body .wrapper .topbar .topbar-content .menu .button-menu p {
  color: white;
  padding: 0;
  font-size: 20px;
  line-height: 1.3;
}
@media screen and (max-width: 920px) {
  .main-body .wrapper .topbar .topbar-content .menu .button-menu {
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 920px) {
  .main-body .wrapper .topbar .topbar-content .menu .button-menu .button-menu-toggle {
    display: inline-flex;
    padding: 1em;
    color: white;
    background-color: #eaab00;
  }
}
@media screen and (min-width: 920px) {
  .main-body .wrapper .topbar .topbar-content .menu .nav-menu {
    display: inline-flex !important;
  }
}
@media screen and (max-width: 920px) {
  .main-body .wrapper .topbar .topbar-content .menu .nav-menu {
    display: none;
  }
}
.main-body .wrapper .topbar .topbar-content .menu .nav-menu .nav-items {
  display: flex;
}
@media screen and (max-width: 920px) {
  .main-body .wrapper .topbar .topbar-content .menu .nav-menu .nav-items {
    display: block;
  }
}
.main-body .wrapper .topbar .topbar-content .menu .nav-menu .nav-items a {
  font-family: "Roboto Condensed Light";
  display: block;
  padding: 1em 0.6em;
  color: white;
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: 300;
}
.main-body .wrapper .topbar .topbar-content .menu .nav-menu .nav-items a:hover, .main-body .wrapper .topbar .topbar-content .menu .nav-menu .nav-items a.active {
  background-color: rgba(0, 0, 0, 0.15);
  color: #eaab00;
}
@media (min-width: 921px) and (max-width: 1100px) {
  .main-body .wrapper .topbar .topbar-content .menu .nav-menu .nav-items a {
    display: block;
    padding: 1em 0.3em;
    font-size: 10pt;
  }
}
.main-body .wrapper .topbar .topbar-content .menu .user-login {
  float: right;
}
@media screen and (max-width: 920px) {
  .main-body .wrapper .topbar .topbar-content .menu .user-login {
    display: none;
  }
}
.main-body .wrapper .topbar .topbar-content .menu .user-login label {
  font-family: "Roboto Condensed Light";
  display: block;
  padding: 1em 0.6em;
  color: white;
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: 300;
}
.main-body .wrapper .main {
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
  padding: 0px 16px 16px 16px;
}
.main-body .wrapper .main .card {
  background-color: #ffffff;
  padding: 1em;
  margin-top: 16px;
  /*INDEX HTML*/
}
.main-body .wrapper .main .card h1 {
  margin: 0 0 0.5em 0;
  color: #003f72;
  border-bottom: 1px solid #d5d5d5;
  padding: 0.1em;
  font-size: 24px;
}
.main-body .wrapper .main .card .block-contenido {
  text-align: justify;
}
.main-body .wrapper .main .card .block-contenido > div {
  width: 85%;
  margin: 20px auto;
}
.main-body .wrapper .main .card .block-contenido h2 {
  font-family: "Montserrat Light";
  font-size: 26pt;
  color: #003f72;
  padding-bottom: 1em;
}
@media screen and (max-width: 700px) {
  .main-body .wrapper .main .card .block-contenido h2 {
    font-size: 20pt !important;
  }
}
.main-body .wrapper .main .card .block-contenido h2 strong {
  font-family: "Montserrat Bold";
}
.main-body .wrapper .main .card .block-contenido p {
  font-family: "Roboto Condensed Light";
  font-size: 16pt;
  line-height: 1.3;
  color: #737373;
  padding: 0.3em 0;
}
.main-body .wrapper .main .card .block-contenido .boton .field-item {
  display: inline-flex;
  background-color: #eaab00;
  margin-top: 2em;
}
.main-body .wrapper .main .card .block-contenido .boton a {
  font-family: "Montserrat", sans-serif;
  font-size: 14pt !important;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5em;
  color: white !important;
}
.main-body .wrapper .main .card .block-contenido .boton .flecha {
  width: 50px;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  background-color: white;
}
.main-body .wrapper .main .card .block-contenido .boton .flecha .boton-bg {
  color: white;
  width: 50px;
  text-align: center;
  position: relative;
  right: 0px;
  -webkit-transition: right 400ms;
  transition: right 400ms;
}
.main-body .wrapper .main .card .block-contenido .flecha-azul .flecha {
  background-color: #003f72;
}

.login-body {
  height: 100%;
  font-family: Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
  font-size: 16px;
  margin: 0;
  padding: 100px 0 0 0;
  background-image: url("#{resource['skin:images/background.jpg']}");
}
.login-body #login-wrapper {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
.login-body #login-wrapper .login-header {
  padding: 0 18px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.login-body #login-wrapper .login-header .login-header-logo {
  min-width: 1px;
}
.login-body #login-wrapper .login-header .login-header-logo img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.login-body #login-wrapper #login-container {
  margin-top: 20px;
  box-sizing: border-box;
  height: 280px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 2em;
  text-align: center;
  color: #4f575b;
}
.login-body #login-wrapper #login-container .title {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}
.login-body #login-wrapper #login-container input, .login-body #login-wrapper #login-container button {
  font-size: 16px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100% !important;
}

.col-xs-11 {
  width: 91.66666667% !important;
}

.col-xs-10 {
  width: 83.33333333% !important;
}

.col-xs-9 {
  width: 75% !important;
}

.col-xs-8 {
  width: 66.66666667% !important;
}

.col-xs-7 {
  width: 58.33333333% !important;
}

.col-xs-6 {
  width: 50% !important;
}

.col-xs-5 {
  width: 41.66666667% !important;
}

.col-xs-4 {
  width: 33.33333333% !important;
}

.col-xs-3 {
  width: 25% !important;
}

.col-xs-2 {
  width: 16.66666667% !important;
}

.col-xs-1 {
  width: 8.33333333% !important;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100% !important;
  }

  .col-sm-11 {
    width: 91.66666667% !important;
  }

  .col-sm-10 {
    width: 83.33333333% !important;
  }

  .col-sm-9 {
    width: 75% !important;
  }

  .col-sm-8 {
    width: 66.66666667% !important;
  }

  .col-sm-7 {
    width: 58.33333333% !important;
  }

  .col-sm-6 {
    width: 50% !important;
  }

  .col-sm-5 {
    width: 41.66666667% !important;
  }

  .col-sm-4 {
    width: 33.33333333% !important;
  }

  .col-sm-3 {
    width: 25% !important;
  }

  .col-sm-2 {
    width: 16.66666667% !important;
  }

  .col-sm-1 {
    width: 8.33333333% !important;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100% !important;
  }

  .col-md-11 {
    width: 91.66666667% !important;
  }

  .col-md-10 {
    width: 83.33333333% !important;
  }

  .col-md-9 {
    width: 75% !important;
  }

  .col-md-8 {
    width: 66.66666667% !important;
  }

  .col-md-7 {
    width: 58.33333333% !important;
  }

  .col-md-6 {
    width: 50% !important;
  }

  .col-md-5 {
    width: 41.66666667% !important;
  }

  .col-md-4 {
    width: 33.33333333% !important;
  }

  .col-md-3 {
    width: 25% !important;
  }

  .col-md-2 {
    width: 16.66666667% !important;
  }

  .col-md-1 {
    width: 8.33333333% !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100% !important;
  }

  .col-lg-11 {
    width: 91.66666667% !important;
  }

  .col-lg-10 {
    width: 83.33333333% !important;
  }

  .col-lg-9 {
    width: 75% !important;
  }

  .col-lg-8 {
    width: 66.66666667% !important;
  }

  .col-lg-7 {
    width: 58.33333333% !important;
  }

  .col-lg-6 {
    width: 50% !important;
  }

  .col-lg-5 {
    width: 41.66666667% !important;
  }

  .col-lg-4 {
    width: 33.33333333% !important;
  }

  .col-lg-3 {
    width: 25% !important;
  }

  .col-lg-2 {
    width: 16.66666667% !important;
  }

  .col-lg-1 {
    width: 8.33333333% !important;
  }
}

/*# sourceMappingURL=layout.css.map */
