body {
    .ui-fieldset {        
        .ui-fieldset-legend {
            .ui-icon-minusthick
            {
                &:before {
                    content: "\e90f";
                }
            }
            .ui-icon-plusthick
            {
                &:before {
                    content: "\e90d";
                }
            }
        }
    }
   .ui-datepicker {
        .ui-datepicker-prev{
            span{
                display:none!important;
            }
            &:before {
                content: "\e900";               
            }
        }
        .ui-datepicker-next{
            span{
                display:none!important;
            }
            &:before {
                content: " \e901";                
            }
        }
   }
   .ui-selectcheckboxmenu{
    &.ui-selectcheckboxmenu-multiple{
        .ui-selectcheckboxmenu-trigger .ui-icon {
            top: 0;
            right: 8px;
        }
    }
   } 
}
